* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial;
}

body {
  background: #f4f6fb;
}

header {
  background: #111;
  color: white;
  padding: 15px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

header input {
  padding: 8px;
  width: 250px;
  border-radius: 6px;
  border: none;
}

header button {
  padding: 8px 14px;
  border: none;
  background: #ff6b6b;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.container {
  display: flex;
  padding: 20px;
}

.filters {
  width: 230px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-right: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
}

.filters label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

.filters select,
.filters input {
  width: 100%;
  margin-top: 6px;
  padding: 6px;
}

.apply-btn {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border: none;
  background: #222;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0,0,0,.1);
  transition: transform .2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 12px;
}

.card h3 {
  margin: 10px 0;
}
